In [4]:
import pandas as pd
import numpy as np

# Введение

In [5]:
s=pd.Series([1,2,3,4], index=["first","second","third","fourth"])
s

first     1
second    2
third     3
fourth    4
dtype: int64

In [6]:
d={"Moscow":1000,"London":300,"New York":150,"Barselona":None}
cities=pd.Series(d)

In [7]:
cities

Moscow       1000.0
London        300.0
New York      150.0
Barselona       NaN
dtype: float64

In [8]:
cities["Moscow"]

1000.0

In [9]:
cities[["Moscow","Barselona"]]

Moscow       1000.0
Barselona       NaN
dtype: float64

In [10]:
cities<1000

Moscow       False
London        True
New York      True
Barselona    False
dtype: bool

In [11]:
cities[cities<1000]

London      300.0
New York    150.0
dtype: float64

In [12]:
cities["Moscow"]=50
cities

Moscow        50.0
London       300.0
New York     150.0
Barselona      NaN
dtype: float64

In [13]:
cities[cities<1000]=3
cities

Moscow       3.0
London       3.0
New York     3.0
Barselona    NaN
dtype: float64

In [14]:
cities*3

Moscow       9.0
London       9.0
New York     9.0
Barselona    NaN
dtype: float64

In [15]:
cities[cities.isnull()]

Barselona   NaN
dtype: float64

In [16]:
cities[cities.notnull()]

Moscow      3.0
London      3.0
New York    3.0
dtype: float64

# Размаер датасета, типы данных и названия столбцов

In [17]:
df=pd.read_csv("Desktop\citibike.csv")

In [18]:
df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1

In [19]:
df.tail(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1877881,1442,2018-09-30 08:10:03.1790,2018-09-30 08:34:05.3870,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,471.0,Grand St & Havemeyer St,40.712868,-73.956981,28646,Subscriber,1981,1
1877882,453,2018-09-30 12:20:13.6830,2018-09-30 12:27:46.9140,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,34272,Subscriber,1986,1
1877883,1354,2018-09-30 14:10:01.1620,2018-09-30 14:32:36.1280,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3321.0,Clinton St & Union St,40.683116,-73.997853,26028,Subscriber,1981,1

In [20]:
df.shape

(1877884, 15)

In [21]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [22]:
df[["starttime","start station name"]].head()

                  starttime               start station name
0  2018-09-01 00:00:05.2690     MacDougal St & Washington Sq
1  2018-09-01 00:00:11.2810  Cadman Plaza West & Montague St
2  2018-09-01 00:00:20.6490                  1 Ave & E 62 St
3  2018-09-01 00:00:21.7460          St James Pl & Oliver St
4  2018-09-01 00:00:27.3150                  W 13 St & 6 Ave

# Loc/iloc-обращение к элементам датафрейма

In [23]:
df.iloc[-1]

tripduration                                    1354
starttime                   2018-09-30 14:10:01.1620
stoptime                    2018-09-30 14:32:36.1280
start station id                                3601
start station name         Sterling St & Bedford Ave
start station latitude                       40.6627
start station longitude                     -73.9569
end station id                                  3321
end station name               Clinton St & Union St
end station latitude                         40.6831
end station longitude                       -73.9979
bikeid                                         26028
usertype                                  Subscriber
birth year                                      1981
gender                                             1
Name: 1877883, dtype: object

In [24]:
df.iloc[-1,4]

'Sterling St & Bedford Ave'

In [25]:
df.loc[1,["tripduration"]]

tripduration    132
Name: 1, dtype: object

In [26]:
df.iloc[0:6,0:4]

,tripduration,starttime,stoptime,start station id
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0
5,3326,2018-09-01 00:00:29.3030,2018-09-01 00:55:56.2020,3142.0

In [27]:
df.loc[0:6,"tripduration":"start station name"]

,tripduration,starttime,stoptime,start station id,start station name
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave
5,3326,2018-09-01 00:00:29.3030,2018-09-01 00:55:56.2020,3142.0,1 Ave & E 62 St
6,233,2018-09-01 00:00:27.2780,2018-09-01 00:04:20.7420,3526.0,31 St & 23 Ave

# Фильтрация

In [28]:
df[df["tripduration"]<400].shape

(520897, 15)

In [29]:
df[(df["tripduration"]<1000) & (df["usertype"]=="Subscriber")].shape

(1224417, 15)

# Статистика по дата фрейму

In [30]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.877884e+06,1.877168e+06,1.877884e+06,1.877884e+06,1.877168e+06,1.877884e+06,1.877884e+06,1.877884e+06,1.877884e+06,1.877884e+06
mean,9.675149e+02,1.641635e+03,4.073710e+01,-7.398237e+01,1.634439e+03,4.073674e+01,-7.398257e+01,2.652316e+04,1.979745e+03,1.154400e+00
std,7.893692e+03,1.454014e+03,3.115605e-02,1.971399e-02,1.453672e+03,3.097150e-02,1.977184e-02,6.363019e+03,1.188049e+01,5.615422e-01
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.402535e+01,7.200000e+01,4.064654e+01,-7.408364e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.750000e+02,3.820000e+02,4.071740e+01,-7.399596e+01,3.820000e+02,4.071723e+01,-7.399601e+01,2.010700e+04,1.969000e+03,1.000000e+00
50%,6.400000e+02,5.140000e+02,4.073705e+01,-7.398565e+01,5.130000e+02,4.073650e+01,-7.398602e+01,2.809200e+04,1.982000e+03,1.000000e+00
75%,1.129000e+03,3.263000e+03,4.075892e+01,-7.397137e+01,3.263000e+03,4.075757e+01,-7.397179e+01,3.218900e+04,1.989000e+03,1.000000e+00
max,2.431651e+06,3.705000e+03,4.086900e+01,-7.387800e+01,3.705000e+03,4.086900e+01,-7.387800e+01,3.490700e+04,2.002000e+03,2.000000e+00

In [31]:
df.describe(include=[np.object])

,starttime,stoptime,start station name,end station name,usertype
count,1877884,1877884,1877168,1877168,1877884
unique,1876752,1876712,768,783,2
top,2018-09-19 10:17:02.4320,2018-09-13 17:52:04.1610,Pershing Square North,Pershing Square North,Subscriber
freq,2,3,13968,13834,1616731

### Статистика по значениям внутри столбца

In [32]:
df["usertype"].value_counts()

Subscriber    1616731
Customer       261153
Name: usertype, dtype: int64

In [33]:
df["gender"].unique()

array([1, 0, 2], dtype=int64)

#### Можно найти корреляцию между всеми столбцами датасета(если они численные)

In [34]:
df.corr()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
tripduration,1.000000,0.006991,0.004032,0.008733,0.008540,0.000082,0.006341,-0.001487,-0.006541,-0.018580
start station id,0.006991,1.000000,0.182305,0.469959,0.349077,0.137358,0.377866,-0.002573,-0.005237,0.009424
start station latitude,0.004032,0.182305,1.000000,0.312532,0.125226,0.839905,0.238263,-0.015446,-0.050735,-0.042013
start station longitude,0.008733,0.469959,0.312532,1.000000,0.375637,0.244208,0.721812,0.001184,0.053049,0.019696
end station id,0.008540,0.349077,0.125226,0.375637,1.000000,0.170783,0.467875,-0.001076,0.001962,0.009485
end station latitude,0.000082,0.137358,0.839905,0.244208,0.170783,1.000000,0.316024,-0.012096,-0.051664,-0.041899
end station longitude,0.006341,0.377866,0.238263,0.721812,0.467875,0.316024,1.000000,0.004346,0.052768,0.017982
bikeid,-0.001487,-0.002573,-0.015446,0.001184,-0.001076,-0.012096,0.004346,1.000000,0.006665,-0.003170
birth year,-0.006541,-0.005237,-0.050735,0.053049,0.001962,-0.051664,0.052768,0.006665,1.000000,0.207073
gender,-0.018580,0.009424,-0.042013,0.019696,0.009485,-0.041899,0.017982,-0.003170,0.207073,1.000000

In [35]:
df.sample(frac=0.1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1734247,242,2018-09-28 19:49:02.0080,2018-09-28 19:53:04.7160,3286.0,E 89 St & 3 Ave,40.780628,-73.952167,3296.0,E 93 St & 2 Ave,40.782454,-73.948920,28639,Subscriber,1980,1
483735,470,2018-09-08 13:24:57.6570,2018-09-08 13:32:47.8930,433.0,E 13 St & Avenue A,40.729554,-73.980572,312.0,Allen St & Stanton St,40.722055,-73.989111,20094,Subscriber,1994,2
1856913,5664,2018-09-30 16:57:21.2220,2018-09-30 18:31:45.5790,523.0,W 38 St & 8 Ave,40.754666,-73.991382,490.0,8 Ave & W 33 St,40.751551,-73.993934,15410,Customer,1959,1
1597633,486,2018-09-26 19:02:00.5610,2018-09-26 19:10:07.5130,496.0,E 16 St & 5 Ave,40.737262,-73.992390,127.0,Barrow St & Hudson St,40.731724,-74.006744,16726,Subscriber,1966,1
293847,756,2018-09-05 18:20:34.2440,2018-09-05 18:33:10.4730,3165.0,Central Park West & W 72 St,40.775794,-73.976206,3553.0,Frederick Douglass Blvd & W 112 St,40.801694,-73.957145,24829,Subscriber,1969,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1682450,627,2018-09-27 22:10:57.1710,2018-09-27 22:21:24.3110,410.0,Suffolk St & Stanton St,40.720664,-73.985180,461.0,E 20 St & 2 Ave,40.735877,-73.982050,29811,Subscriber,1972,2
652594,574,2018-09-12 12:29:12.2050,2018-09-12 12:38:46.2670,3259.0,9 Ave & W 28 St,40.749370,-73.999234,3659.0,W 17 St & 9 Ave,40.742949,-74.004137,16127,Customer,1969,0
1320610,270,2018-09-22 00:29:29.3610,2018-09-22 00:34:00.2850,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,345.0,W 13 St & 6 Ave,40.736494,-73.997044,17232,Subscriber,1989,1
927722,2004,2018-09-16 13:47:58.7250,2018-09-16 14:21:22.9230,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,151.0,Cleveland Pl & Spring St,40.722104,-73.997249,27379,Customer,1969,0
668054,410,2018-09-12 17:20:05.6640,2018-09-12 17:26:56.6450,415.0,Pearl St & Hanover Square,40.704718,-74.009260,408.0,Market St & Cherry St,40.710762,-73.994004,26875,Subscriber,1985,1

# Группировка данных

In [80]:
df.groupby(["usertype"]).groups

{'Customer': Int64Index([      4,      12,      15,      16,      28,      37,      42,
                  46,      47,      71,
             ...
             1877823, 1877825, 1877826, 1877831, 1877853, 1877864, 1877865,
             1877866, 1877870, 1877873],
            dtype='int64', length=261153),
 'Subscriber': Int64Index([      0,       1,       2,       3,       5,       6,       7,
                   8,       9,      10,
             ...
             1877874, 1877875, 1877876, 1877877, 1877878, 1877879, 1877880,
             1877881, 1877882, 1877883],
            dtype='int64', length=1616731)}

#### Что из себя представляет первая строка из каждой группы

In [37]:
df.groupby(["usertype"]).first()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
usertype,,,,,,,,,,,,,,
Customer,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,1994,1
Subscriber,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,1980,1

In [38]:
df.groupby(["usertype"])[["tripduration"]].mean()

            tripduration
usertype
Customer     2004.922762
Subscriber    799.940863

In [39]:
df.groupby(["usertype"]).agg({"tripduration":[sum, min], "starttime":"first"})

           tripduration                     starttime
                    sum min                     first
usertype
Customer      523591594  61  2018-09-01 00:00:27.3150
Subscriber   1293289192  61  2018-09-01 00:00:05.2690

# 1 Map function

##### Функция Map- для преобразовния элементов в столбце, часто используется с указанием словаря, где ключу(старое значение) соответствует новое значение после преобразования.
    
    Например можно перевести категориальные признаки в числовые.

In [40]:
usertype = {"Customer":1, "Subscriber":2}
df["usertype"].map(usertype).head()

0    2
1    2
2    2
3    2
4    1
Name: usertype, dtype: int64

# 2 Apply

##### Apply можно применить ко всему датасету, передав функцию в качестве аргумента. Например, можно вытащить все минимальные значения для каждого столбца

In [78]:
df.apply(min)

TypeError: '<' not supported between instances of 'float' and 'str'

##### Так же apply можно прменять к отдельному столбцу с помощью ламбда функции

In [42]:
df["tripduration"].apply(lambda x: x/60).head()

0     27.250000
1      2.200000
2     55.616667
3      7.266667
4    140.950000
Name: tripduration, dtype: float64

##### Apply работает со строками с указанием axis=1

In [54]:
df.apply(lambda x: x["tripduration"]/60, axis=1).head(3)

0    27.250000
1     2.200000
2    55.616667
dtype: float64

##### Найти среднюю длину поездок в минутах(столбец tripduration) c точностью до 2 знака

In [113]:
df.apply(lambda x: x["tripduration"]/60, axis=1).mean()

16.125248648656324

##### Какой самый используемый байк(bikeid) в городе по количеству поездок?

In [116]:
df.bikeid.value_counts().head()

33875    559
33772    549
34357    549
33868    533
33878    532
Name: bikeid, dtype: int64

##### Найдите идентификатор велосипеда (bikeid), у которого в среднем продолжительность поездок выше, чем у всех остальных

In [158]:
df.groupby("bikeid").tripduration.mean().sort_values(ascending=False)

bikeid
17548    488022.400000
28520    417717.000000
17431    394605.833333
19083    335620.142857
18041    103932.100000
             ...
22368       224.111111
34896       217.200000
14761       182.666667
25612        72.000000
32379        64.000000
Name: tripduration, Length: 10892, dtype: float64

##### Сколько строк, в которых отсутствуют данные о start station id?

In [124]:
df["start station id"].isnull().sum()

716

##### Сколько поездок начались и закончились в той же самой станции?

In [169]:
df.loc[(df["start station id"])==(df["end station id"])]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
24,622,2018-09-01 00:02:30.1860,2018-09-01 00:12:52.5180,3561.0,37 Ave & 35 St,40.753111,-73.927992,3561.0,37 Ave & 35 St,40.753111,-73.927992,27107,Subscriber,1996,1
51,549,2018-09-01 00:04:04.6480,2018-09-01 00:13:14.3960,433.0,E 13 St & Avenue A,40.729554,-73.980572,433.0,E 13 St & Avenue A,40.729554,-73.980572,34044,Subscriber,1985,2
99,1665,2018-09-01 00:07:07.8150,2018-09-01 00:34:53.6900,3608.0,5 St & 51 Ave,40.742374,-73.956600,3608.0,5 St & 51 Ave,40.742374,-73.956600,34670,Subscriber,1991,1
129,1849,2018-09-01 00:08:36.9170,2018-09-01 00:39:26.1680,217.0,Old Fulton St,40.702772,-73.993836,217.0,Old Fulton St,40.702772,-73.993836,25080,Customer,2000,1
133,1307,2018-09-01 00:08:54.5350,2018-09-01 00:30:42.1350,3532.0,Ditmars Blvd & 19 St,40.781450,-73.918330,3532.0,Ditmars Blvd & 19 St,40.781450,-73.918330,32632,Customer,1987,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877711,6740,2018-09-30 23:46:20.6540,2018-10-01 01:38:41.0820,3622.0,E 128 St & Madison Ave,40.807560,-73.939182,3622.0,E 128 St & Madison Ave,40.807560,-73.939182,19581,Customer,1994,1
1877822,66,2018-09-30 23:54:53.4550,2018-09-30 23:55:59.9090,3093.0,N 6 St & Bedford Ave,40.717452,-73.958509,3093.0,N 6 St & Bedford Ave,40.717452,-73.958509,21693,Customer,1985,1
1877837,211,2018-09-30 23:56:22.1400,2018-09-30 23:59:53.9200,504.0,1 Ave & E 16 St,40.732219,-73.981656,504.0,1 Ave & E 16 St,40.732219,-73.981656,29024,Subscriber,1981,1
1877876,2326,2018-09-29 10:51:16.3010,2018-09-29 11:30:02.3410,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,32976,Subscriber,1986,1
1877878,228,2018-09-29 19:29:49.6230,2018-09-29 19:33:37.6590,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,28646,Subscriber,2002,1